html {
    overflow-y: scroll;
}

:root {
}

@media (prefers-color-scheme: dark) {
    /* NOTE: not-working msedge?
    :root {
        --link_bg_clr: #00e;
    }
   */
}

.body {
    /* margin-left: 0.3rem; */
    /* margin-right: 0.3rem; */
}

.footnote-body {
    margin-left: 1rem;
    margin-right: 1rem;
}

code {
    font-family: monospace;
}

ul.tags {
    list-style: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

ul.tags li {
    display: inline;
    padding-bottom: 1rem;
    font-family: monospace;
}

.tags li::before{
  /* content: "🏷️"; */
}

.site-description {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 1.0rem;
}

.title > .meta {
    font-size: 0.6rem;
    font-family: monospace;
    margin-left: 0.2rem;
}

blockquote {
    padding: .1em .2em;
    border: solid 1px ;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  /* max-height: 500px; */
}

/* Containers */
.content {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
    align-items: center;
}

.main a {
    font-size: 3.0rem;
    border: none;
    font-family: monospace;
}


header nav a {
    font-family: monospace;
    font-size: 1.0rem;
    /* padding-bottom: 0.4rem; */
    margin-left: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h1::before {  content: '# '; }
h2::before {  content: '## '; }
h3::before {  content: '### '; }
h4::before {  content: '#### '; }
h5::before {  content: '##### '; }
h6::before {  content: '###### '; }

/* Footer */
footer {
  align-items: center;
  border-top: 0.1rem dashed;
  padding: 1rem 0rem;
  margin-top: 2rem;
}

.soc {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid;
  border-bottom: none;
}

.footer-info {
    text-align: center;
    font-size: 0.9rem;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}


/* Callout */
.callout {
  padding: 1em;
}

.callout p {
  /* font-family: monospace; */
  margin: 0;
}

.callout a {
}

.callout a:hover {
}

/* table */
/*
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
*/

.pagination {
    text-align: center;
    font-size: 1.1rem;
    font-family: monospace;
}

a {
    /* background-color: var(--link_bg_clr); */
}



/* */
@-webkit-keyframes blink-animation{to{opacity:0}}
@keyframes blink-animation{to{opacity:0}}

@-webkit-keyframes border-animation{to{border: solid black 0.1rem}}
@keyframes border-animation{to{border: solid black 0.1rem}}

h1.title:after {
    animation: blink-animation 1.0s infinite;
    -webkit-animation: blink-animation 1.0s infinite;
    -moz-animation: blink-animation 1.0s infinite;
    -o-animation: blink-animation 1.0s infinite;
    color: green;
    content: "↵";
    padding-left: 0.1rem;
}

.footer-info:after {
    animation: border-animation 3.0s infinite;
    -webkit-animation: border-animation 3.0s infinite;
    -moz-animation: border-animation 3.0s infinite;
    -o-animation: border-animation 3.0s infinite;
    content: "👍️";
    padding-left: 0.0rem;
}

